body,
.about,
.container2 {
    display: flex;
    flex-direction: column;
}

.container1,
.header,
.links,
.logo,
.info,
.container3,
.quote,
.footer,
.box,
img {
    display: flex;
}

.header {
    background-color: #1f2930;
    gap: 500px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    gap: 16px;
    margin: 8px;
    justify-content: end;
}

.container1 {
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 40%;
    padding: 32px;
}

.about{
    max-width: 500px;
}

.container2 {
    background-color: #eee;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    font-size: 36px;
    font-weight: bolder;
}

.info {
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 4px;
    border-color: #000;
}

.container3 {
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 500px;
    flex-basis: auto;
    font-size: 36px;
    font-style: italic;
}

.footer {
    align-items: center;
    justify-content: space-around;
    margin: 64px;
}

.box {
    background-color: rgb(0, 185, 241);
    color: #eee;
    min-height: fit-content;
    justify-content: space-around;
    padding: 64px;
    margin: 8px;
    border-radius: 10px;
}


img {
    padding: 8px;
    max-height: 256px;
    border-radius: 10px;
}